<div class="flex flex-col justify-center px-5 mx-0 w-5/6">
  <h1 class="py-5">Create a New Recipe</h1>
  <%= form_with(model: @recipe, url: recipes_path(user_id:current_user ), local: true) do |form|  %>
    <div class="flex flex-col">
      <%= form.label :recipe_name %>
      <%= form.text_field :recipe_name %>

      <%= form.label :preparation_time %>
      <%= form.text_field :preparation_time %>

      <%= form.label :cooking_time %>
      <%= form.text_field :cooking_time %>

      <%= form.label :description %>
      <%= form.text_area :description %>

      <%= form.label :public %>
      <%= form.check_box :public %>
    </div>
    <%= form.submit "Create Recipe", class:"rounded border-2 p-2 mt-4 " %>
  <% end %>
  </div>

