<% if can? :create, @recipe %>
    <div>
      <button class= "rounded border-2 p-2 mt-4">
        <%= link_to "Create new recipe", new_user_recipe_path(current_user) %>
      </button>
    </div>
  <% end %>
  <ul class="flex flex-col p-5">
      <div class="flex flex-row p-5 gap-5">
      <div class="border border-black w-1/6 h-20">
      </div>
      <div class = "border rounded border-black flex flex-row p-3 justify-between w-5/6">
        <div class="flex flex-col gap-2">
          <div class="flex flex-row justify-between">
            <h1><%= @recipe.recipe_name %></h1>
            <h1><%= @recipe.preparation_time %></h1>
            <h1><%= @recipe.cooking_time %></h1>
          </div>
          <h1><%= @recipe.description %></h1>
          <h1><%= @recipe.public %></h1>
        </div>
        <div class="flex flex-col gap-2">
          <button class= "rounded border-2 p-2 mt-4">
            <%= link_to "Show", user_recipe_path(current_user, @recipe) %>
          </button>
          <button class= "rounded border-2 p-2 mt-4">
            <%= link_to "Delete", user_recipe_path(current_user, @recipe), method: :delete, data: { confirm: "Are you sure?" } %>
          </button>
        </div>
      </div>
  </ul>
